body {
    background: black;
}

.main-content {
    width: 60%;
    margin: auto;
    background: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    vertical-align: center;
    border-radius: 20px;
    position: absolute;
    top: 30%;
    left: 20%;
}

.btn {
    margin: auto;
}

.create {
    margin-top: 10%;
    margin-bottom: -5%;

}

img {
    width: 40%;
    height: 20vh;
}

h1, h3 {
    font-size: 4vw;
}

